.homepage {
  justify-content: center;
}

.homepage-content {
  margin: 0;
  background-color: #FFFEF8;
}

.olivia-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 2%;
  margin-bottom: 0;
}



.nav-buttons {
  margin: 10%;
  height: 60%;
  width: 90%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  padding: 7 30px;
  outline: none;
  border: none !important;
  border-radius: 20px;
  cursor: pointer;
  background: transparent;
  background:linear-gradient(#FFFEF8,#FFFEF8) ;
  box-shadow: 0 2px 15px #00309B;
  color:#00309B !important;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00309B;
  color: white;
  text-align: center;
}

.footer img{
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 2%;
  width: 2%;

}

.icon-buttons {
  margin-top: 0.05%;
  height: 10%;
  width: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  padding: 7 30px;
  outline: none;
  border: none !important;
  border-radius: 20px;
  cursor: pointer;
  background: transparent;
  background:linear-gradient(#00309B,#00309B) ;
  color:#00309B !important;

}

